h1 {
  color: aqua;
}

.botaoroxo {
  background: #5f11e2;
  border-radius: 5px;
  color: white;
  padding: 1rem 2rem 1rem 2rem;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
}

button {
  background: yellowgreen;
  border-radius: 5px;
  color: white;
  padding: 1rem 2rem 1rem 2rem;
}
