* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #222;
  height: 100vh;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

.card {
  width: 250px;
  height: 300px;
  background: #fff;
  border-radius: 1rem;
}

.flex {
  display: flex;
}

.justify between {
  justify-content: space-between;
}
.botaoprimario {
  all: unset;
  border-radius: 0.5rem;
  background: #007bff;
  color: #fff;
  padding: 1rem;
}

.botaosecundario {
  all: unset;
  border-radius: 0.5rem;
  background: #6c757d;
  color: #fff;
  padding: 1rem;
}
